body{

font-family:Arial;

background:#111;

color:white;

text-align:center;

}

table{

margin:auto;

border-collapse:collapse;

width:70%;

}

th{

background:#d32f2f;

padding:12px;

}

td{

padding:10px;

border-bottom:1px solid #444;

}

tr:hover{

background:#333;

}